.auth-page{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  &__card{
    padding: 20px;
    background: white;
    width: 500px;
  }
  &__title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  &__error{
    color: red;
    margin-bottom: 20px;
  }
}