.create-user{
  &__title{
    text-align: center;
  }
  &__form-inner{
    margin-top: 40px;
    display: flex;
    gap: 60px;
    justify-content: center;
  }
  &__row{
    flex: 0 1 420px;
  }
  &__btns{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}